Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is a document database with the scalability and flexibility that you want with the querying and indexing that you need

A non-relational database is a database that does not use the tabular schema of rows and columns            
Instead, use a storage model that is optimized for the specific requirements of the type of data being stored.

MongoDB is used to save unstructured data in JSON format.

SQL databases are used to store structured

Q2. State and Explain the features of MongoDB.

MongoDB  used for high volume data storage.                                           
MongoDB makes use of collections and documents, instead of using tables and rows as in the relational databases.         
Documents contain key-value pairs which are considered the basic unit of data in MongoDB.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [5]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:<password>@cluster0.1earqzi.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [3]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (648 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 648.9/648.9 kB 40.6 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 36.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
db

Database(MongoClient(host=['ac-wollia5-shard-00-01.1earqzi.mongodb.net:27017', 'ac-wollia5-shard-00-02.1earqzi.mongodb.net:27017', 'ac-wollia5-shard-00-00.1earqzi.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-33ucol-shard-0', tls=True), 'test')

In [12]:
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.ln0bt5m.mongodb.net/?retryWrites=true&w=majority")

In [13]:
db = client["pwskills"]

In [14]:
data = {"name" : "unnu",
       "phone_num" : 53664432132,
       "class" : "data_science"}

In [17]:
coll_pwskills = db["my"]

In [18]:
coll_pwskills.insert_one(data)

In [30]:
data1 = {"mail_id" : "unnu@gmail.com",
         "phone_number " : 2323424324,
         "addr" : "bangalore"
}

In [31]:
coll_pwskills.insert_one(data1)

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [32]:
 data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [33]:
coll_pwskills.insert_many(data2)

In [34]:
data3 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [35]:
coll_pwskills.insert_one(data3)

In [36]:
coll_pwskills.find_one()

{'_id': ObjectId('64aabd20813ecb11f0f3247a'),
 'name': 'unnu',
 'phone_num': 53664432132,
 'class': 'data_science'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [37]:
coll_pwskills.find_one(data1)

{'_id': ObjectId('64aabf94813ecb11f0f32489'),
 'mail_id': 'unnu@gmail.com',
 'phone_number ': 2323424324,
 'addr': 'bangalore'}

In [38]:
for i in  coll_pwskills.find():
    print(i)

{'_id': ObjectId('64aabd20813ecb11f0f3247a'), 'name': 'unnu', 'phone_num': 53664432132, 'class': 'data_science'}
{'_id': ObjectId('64aabd7f813ecb11f0f3247b'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('64aabe21813ecb11f0f3247c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64aabe21813ecb11f0f3247d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64aabe21813ecb11f0f3247e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64aabe21813ecb11f0f3247f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64aabe21813ecb11f0f32480'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64aabe21813ecb11f0f32481'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64aabe21813ecb11f0f32482'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64aabe21813ecb11f0f32483'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64aabe21813ecb11f0f32484'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64aabe21813ecb11f0f32485'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64aabe21813ecb11f0f32486'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64aabe21813ecb11f0f32487'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64aabe3a813ecb11f0f32488'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('64aabf94813ecb11f0f32489'), 'mail_id': 'unnu@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('64aabf98813ecb11f0f3248a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64aabf98813ecb11f0f3248b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64aabf98813ecb11f0f3248c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64aabf98813ecb11f0f3248d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64aabf98813ecb11f0f3248e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64aabf98813ecb11f0f3248f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64aabf98813ecb11f0f32490'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64aabf98813ecb11f0f32491'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64aabf98813ecb11f0f32492'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64aabf98813ecb11f0f32493'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64aabf98813ecb11f0f32494'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64aabf98813ecb11f0f32495'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64aabf99813ecb11f0f32496'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Q7. Explain why delete_one(), delete_many(), and drop() is used.

will you connect or mail me this t answers ?